/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: Raleway;
  font-size: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #242b33;
}

a {
  color: #fff;
}

.conteiner {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1140px;
  /* background-color: rgb(240, 127, 127); */
}

.header {
  min-height: 840px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242b33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242b33)), url(../img/header/header-bg.jpg);
  background: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(../img/header/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header_vertical {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: block;
  width: 155px;
  height: 66px;
}

.header_nav {
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_nav-mobile {
  position: fixed;
  background-color: #242b33;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}

.header_nav-mobile .header_nav_list {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.no-scroll {
  overflow-y: hidden;
}

.header_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header_nav-btn {
  display: none;
}

.nav-ico {
  background-image: url(../img/header/mobile/burger.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.nav-ico-active {
  background-image: url(../img/header/mobile/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 50px;
}

.header_nav_link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header_nav_link:hover {
  color: #d4c17f;
}

.header_title {
  text-align: center;
}

.title {
  color: #d4c17f;
  font-family: Playfair Display;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 80px;
}

.mouse_img {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.header_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  padding-bottom: 75px;
}

.header_left_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_left_wrap address {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_wright_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_wright_wrap a {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 991px) {
  .header_nav_list {
    display: none;
  }
  .header_nav-btn {
    display: block;
  }
  .title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .header_bottom {
    row-gap: 20px;
  }
}
.advantages_section {
  position: relative;
  overflow: hidden;
}
.advantages_section::after {
  z-index: -1;
  content: "";
  background-image: url(../img/bg-elements/II.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20%;
  left: 80%;
}

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

.advantages_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  row-gap: 60px;
}

.advantages_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 193px;
  row-gap: 20px;
}

.main_title {
  color: #d4c17f;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: Playfair Display;
  margin-bottom: 88px;
}

.appart_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  position: relative;
}
.appart_wrapper::after {
  z-index: -1;
  content: "";
  background-image: url(../img/bg-elements/III.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -8%;
  left: -20%;
}

.appart_card {
  display: block;
  position: relative;
  width: 540px;
  height: 320px;
  overflow: hidden;
}
.appart_card:hover::after {
  opacity: 1;
}
.appart_card::before {
  z-index: 7;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(36, 43, 51, 0)), to(#242b33));
  background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242b33 100%);
}
.appart_card::after {
  z-index: 8;
  opacity: 0;
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px double #b8b8b8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.appart_card_text {
  position: absolute;
  z-index: 9;
  top: 250px;
  left: 50px;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card_img {
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.appart_card:hover .card_img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1199px) {
  .main_title {
    text-align: center;
  }
  .appart_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 70px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .appart_card_text {
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .appart_card {
    width: 390px;
    height: 240px;
  }
  .appart_card_text {
    font-size: 25px;
    top: 170px;
    left: 30px;
  }
}
@media (max-width: 575px) {
  .main_title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .appart_card {
    width: 270px;
    height: 165px;
  }
  .appart_card_text {
    font-size: 15px;
    top: 120px;
    left: 30px;
  }
}
@media (max-width: 320px) {
  .main_title {
    font-size: 24px;
  }
  .appart_card {
    width: 180px;
    height: 108px;
  }
  .appart_card_text {
    font-size: 12px;
    top: 80px;
    left: 15px;
  }
}
.form_section {
  min-height: 560px;
  padding-top: 180px;
  padding-bottom: 180px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10.42%, #242b33), color-stop(50.52%, rgba(36, 43, 51, 0)), color-stop(90.1%, #242b33)), -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.9)), to(rgba(36, 43, 51, 0.9))), url(../img/form-block/form-bg.jpg);
  background: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9) 0%, rgba(36, 43, 51, 0.9) 100%), url(../img/form-block/form-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.form_title {
  color: #d4c17f;
  margin-bottom: 17px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.form_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.form_left_wrap {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 255px 30px 255px;
  grid-template-columns: 255px 255px;
  gap: 30px;
}

.form_text {
  color: #e7e7e7;
  text-align: center;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.form_input {
  padding: 12px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.form_input:focus {
  background: rgba(255, 255, 255, 0.8);
}

.form_button {
  height: 50px;
  background-color: #d4c17f;
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.form_button:hover {
  -webkit-filter: saturate(1.8);
          filter: saturate(1.8);
}

@media (max-width: 1199px) {
  .form_title {
    text-align: center;
  }
  .form_wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form_left_wrap {
    width: 540px;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .form_text {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .form_section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .form_left_wrap p {
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  .form_title {
    font-size: 24px;
  }
  .form_left_wrap p {
    font-size: 13px;
  }
  .form_section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.video_section {
  padding-bottom: 180px;
  position: relative;
  overflow: hidden;
}
.video_section::after {
  z-index: -1;
  content: "";
  background-image: url(../img/bg-elements/IV.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 25%;
  left: 62%;
}

.video_link {
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: center;
  overflow: hidden;
  width: 720px;
  height: 650px;
}
.video_link::before {
  z-index: 5;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(36, 43, 51, 0.8)), to(rgba(36, 43, 51, 0.412)));
  background: linear-gradient(0deg, rgba(36, 43, 51, 0.8) 0%, rgba(36, 43, 51, 0.412) 100%);
}

.video_btn {
  z-index: 7;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.video_link:hover .video_btn {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-filter: saturate(1.8);
          filter: saturate(1.8);
}

.video_img {
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.video_link:hover .video_img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1199px) {
  .video_link {
    width: 900px;
    height: 900px;
  }
  .video_btn {
    width: 60px;
    height: 60px;
  }
  .video_section {
    padding-bottom: 140px;
  }
}
@media (max-width: 991px) {
  .video_link {
    width: 700px;
    height: 700px;
  }
  .video_btn {
    width: 50px;
    height: 50px;
  }
  .video_section {
    padding-bottom: 120px;
  }
}
@media (max-width: 767px) {
  .video_link {
    width: 500px;
    height: 500px;
  }
  .video_btn {
    width: 40px;
    height: 40px;
  }
  .video_section {
    padding-bottom: 120px;
  }
}
@media (max-width: 575px) {
  .video_link {
    width: 250px;
    height: 250px;
  }
  .video_btn {
    width: 20px;
    height: 20px;
  }
  .video_section {
    padding-bottom: 100px;
  }
}
@media (max-width: 320px) {
  .video_link {
    width: 150px;
    height: 150px;
  }
  .video_btn {
    width: 10px;
    height: 10px;
  }
  .video_section {
    padding-bottom: 80px;
  }
}
.map_section {
  padding-bottom: 180px;
  position: relative;
  overflow: hidden;
}
.map_section::after {
  z-index: -1;
  content: "";
  background-image: url(../img/bg-elements/V.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 13%;
  left: 26%;
}

.map {
  height: 358px;
  background: #626262;
}

.baloon_contacts a {
  color: #626262;
}

@media (max-width: 1200px) {
  .map_section {
    padding-bottom: 140px;
  }
}
@media (max-width: 1199px) {
  .main_title {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .map_section {
    padding-bottom: 100px;
  }
}
@media (max-width: 991px) {
  .map_section {
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .map_section {
    padding-bottom: 80px;
  }
}
@media (max-width: 575px) {
  .main_title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .map_section {
    padding-bottom: 80px;
  }
}
@media (max-width: 320px) {
  .main_title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .map_section {
    padding-bottom: 80px;
  }
}
.feedback_section {
  padding-bottom: 180px;
}

.feedback_form p {
  color: #e7e7e7;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.feedback_form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 255px 30px 255px 30px 255px 30px 255px;
  grid-template-columns: 255px 255px 255px 255px;
  gap: 30px;
}

@media (max-width: 1200px) {
  .feedback_form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
    row-gap: 30px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .feedback_form p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .feedback_section {
    padding-bottom: 160px;
  }
}
@media (max-width: 1199px) {
  .feedback_section {
    padding-bottom: 140px;
  }
}
@media (max-width: 991px) {
  .feedback_section {
    padding-bottom: 120px;
  }
}
@media (max-width: 767px) {
  .feedback_form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 30px;
    row-gap: 30px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .feedback_form p {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .feedback_section {
    padding-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .feedback_section {
    padding-bottom: 80px;
  }
}
@media (max-width: 320px) {
  .feedback_section {
    padding-bottom: 60px;
  }
}
.fotter {
  background: #2d343c;
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
  padding-top: 80px;
}

.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
}

.footer_mail {
  color: #d4c17f;
  margin-left: 5px;
  margin-bottom: 20px;
}

.footer_link {
  display: block;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.footer_link:hover {
  color: #d4c17f;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_social_img {
  cursor: pointer;
}

.footer_social_mobail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
}

@media (max-width: 991px) {
  .footer_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 100px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
  .footer_social {
    display: none;
  }
  .footer_social_mobail {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 100px;
  }
}
@media (max-width: 575px) {
  .footer_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 100px;
    text-align: center;
  }
}